USE [master]
GO
/****** Object:  Database [Lab2_Home]    Script Date: 1/28/2024 8:41:35 PM ******/
CREATE DATABASE [Lab2_Home]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab2_Home', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab2_Home.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab2_Home_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab2_Home_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab2_Home].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab2_Home]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 1/28/2024 8:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Course_ID] [nvarchar](50) NULL,
	[Course_Name] [nvarchar](50) NULL,
	[Student_Name] [nvarchar](50) NULL,
	[Teacher_Name] [nvarchar](50) NULL,
	[Semester] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 1/28/2024 8:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[Student_ID] [nvarchar](50) NULL,
	[Student_Name] [nvarchar](50) NULL,
	[Course_Name] [nvarchar](50) NULL,
	[Marks] [int] NULL,
	[Grade] [nvarchar](50) NULL,
	[Section] [nvarchar](50) NULL,
	[Semester] [int] NULL,
	[Session] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 1/28/2024 8:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[RegistrationNumber] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[Session] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Course] ([Course_ID], [Course_Name], [Student_Name], [Teacher_Name], [Semester]) VALUES (N'CS-262', N'OOP', N'Talha', N'Mam Maida Shahid', N'2')
GO
INSERT [dbo].[Result] ([Student_ID], [Student_Name], [Course_Name], [Marks], [Grade], [Section], [Semester], [Session]) VALUES (N'2022-CS-11', N'Asad Ullah', N'OOP', 100, N'A', N'A', 2, 2022)
GO
INSERT [dbo].[Student] ([RegistrationNumber], [Name], [Department], [Session], [Address]) VALUES (N'2022-CS-32', N'Muhammad Mudassir', N'Computer Science', N'2022', N'Lahore')
GO
USE [master]
GO
